<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<%- include partials/scripts.ejs %>
<body>


	<form action="/register" method="POST">
		<h1>Create a new Account</h1>

		<div>
			<p><label>Email</label></p>
			<p><input type="email" name="username" placeholder='Enter your email' value='john.doe@mail.com'></p>
		</div>
		<div>
			<p><label>Password</label></p>
			<p><input type="password" name="password" placeholder='Enter your password' value='123456'></p>
		</div>

		<button id='create'>Register</button>
	</form>
	<script type="text/javascript">
		
		window.referrer = <%- locals && locals.referrer %>;
		window.client = <%- locals && locals.client %>;

				
	</script>
	<script type="text/javascript" src='/js/global.js'></script>
	<script type="text/javascript">

		'use strict';
		const create = document.getElementById('create');

		create.addEventListener('click', (evt) => {
			evt.preventDefault();
			postFormData('/token', {
				username: document.querySelector('input[name=username]').value,
				password: document.querySelector('input[name=password]').value,
				grant_type: 'password',
				referrer: window.referrer,
				//token: window.token
				client: window.client
			}).then((response) => {
				console.log(response)

				if (response && response.success) {

					const { access_token, refresh_token } = response.results;
					window.localStorage.access_token = access_token;
					window.localStorage.refresh_token = refresh_token;

					console.log(window.referrer)
					if (response.results.redirect && response.results.redirect_url) {
						window.location.href = response.results.redirect_url;
					} else {
						window.location.href = '/';
					}
				}
			})

		}, false);

		function convertObjectToFormData(obj) {

			const form = Object.keys(obj).map((key) => {
				return `${key}=${encodeURIComponent(obj[key])}`;
			}).join('&');
			return form;
		}

		function postFormData(url, param) {
			return fetch(url, {
				method: 'POST',
				headers: {
					//'Content-Type': 'application/json',
					'Authorization': window.credentials,
					'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8'
				},
				body: convertObjectToFormData(param)
			}).then(function(response) {
				if (!response) return null;
				return response.json()
			});
		}

		const eg = convertObjectToFormData({
			hello: 'world',
			papser: '123123',
			url: 'http://localhost:3000'
		})
		console.log(eg)

	</script>
</body>
</html>